html{
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
*,
*::before,
*::after{
    padding: 0;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}
.return{
    padding: 1em;
    width: 20em;
    background-color: aliceblue;
}
.container{
    background-color: blanchedalmond;
}
a{
    text-decoration: none;
}

