*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    background-color: bisque;
}

.schrodinger_photo {
    width: 300px;
    border-style: dashed;
    margin-bottom: 10px;
}

h1{
    padding: 0.5em;
}

img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}
li{
    list-style: none;
    font-weight: 900;
    text-align: left;
}
.content{
    width: 300px;
}
.return{
    padding: 1em;
    width: 20em;
    background-color: aliceblue;
}
a{
    text-decoration: none;
}