html {
    font-size: 16px;
}
* {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    font-family: monospace;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.container {
    background-color: blanchedalmond;
}
.return {
    font-weight: bolder;
    background-color: blue;
}
.ingredients {
    text-align: left;
    font-weight: 900;
}